.root {
  display: flex;
  padding: 6px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 80px;
  border: 1px solid #141718;
  button {
    color: #141718;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
  }
}
